@media(max-width:500px){
    .container{
        max-width: 500px;
    }
    .hobby{
        width: 50%;
    }
    .header-left{
        width: 100%;
        height: 400px;
    }
    .header-right{
        width: 100%;
        height: 400px;
    }
    .hobby img{
        max-width: 70px;
    }
    .current{
        top: 0px;
        left: 0px;
        z-index: 2;
        opacity: 1;
        animation:  7s zoomin infinite alternate ease-out;
        /* -webkit-transition: opacity 1.6s ease-out, -webkit-transform 7.2s linear;
        -moz-transition: opacity 1.6s ease-out, -moz-transform 7.2s linear;
        -o-transition: opacity 1.6s ease-out, -o-transform 7.2s linear;
        transition: opacity 1.6s ease-out 0s, transform 7.2s linear 0s; */
        transform-origin: center center;
        -webkit-transform-origin: center center;
        -moz-transform-origin: center center;
        -ms-transform-origin: center center;
        -o-transform-origin: center center;
    }
    @keyframes zoomin{
        0% { transform: scale(1); }
        100% { transform: scale(0.95); }
    }
    @-webkit-keyframes zoomin{
        0% { transform: scale(1); }
        100% { transform: scale(0.95); }
    }
    @-moz-keyframes zoomin{
        0% { transform: scale(1); }
        100% { transform: scale(0.95); }
    }
    @-ms-keyframes zoomin{
        0% { transform: scale(1); }
        100% { transform: scale(0.95); }
    }
    
    @-o-keyframes zoomin{
        0% { transform: scale(1); }
        100% { transform: scale(0.9); }
    }
    .banner-image {
        height: 550px;
        width: 115%;
        margin-top: -30px;
        margin-left: -43px;
    
    }
    .titlename {
        position: absolute;
        width: 100%;
        top: 500px;
        left: 1%;
        
    }
}

@media(max-width:800px){
    .header-left{
        width: 100%;
        height: 460px;
    }
    .header-right{
        width: 100%;
        height: 400px;
    }
    .hobby{
        width: 50%;
    }
    .hobby img{
        max-width: 140px;
    }
    .titlename {
        position: absolute;
        width: 100%;
        top: 500px;
        left: 1%;
    }
    .profilepicture{
        width: 100%;
        height: auto;
        float: left;
        padding-right: 20%;
        padding-left: 20%;
        padding-top: 10px;
    }
}